* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px 15px;
}

h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    margin: 15px 0px 15px 0px;
    background-image: url("../images/pattern.jpeg")
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 15px 0px 15px 0px;
}

h3 {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

strong {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}